.time-bar,
nav {
    background-color: #3C3A39;
}

/* disable hamburger styles */
.btn-handle {
    border:none;
}

.h1-color-1 {
    color: #FF6B00;
}

.section-1 {
    background-color: black;
}

.see-project {
    background-color: #ff6b00;
}


.bg-img{
    background-image: url('imgs/images/section_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* language links on dark background */
.bg-grey{
    background-color: rgba( 211,211,211, .4 );
}